.section {
    background-image: url('/background.jpg');
    height: 400px;
    width: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

.footer {
    height: 200px;
    bottom: 0;
    width: 100%;
    background-color: #000000; /* Color de fondo */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dash {
    height: 100vh;
}